h1 {
  font-family: Montserrat;
  font-weight: 900;
  font-style: italic;
  color: #ff6e40;
}

.nav-link {
  font-family: Montserrat;
  font-weight: 900;
  text-transform: uppercase;
  color: #212121
}

.nav-link:hover {
  color: #ff6e40;
}

.carousel-item {
  height: 93.5vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  height: 5vh;
}