//page profil

#picprofil {
  width: 82%;
  margin: 1em 0em 3em 3em;
}

#runner-add{
  width: 20%;
  margin: 0em 0em 0em 5em;
}

#runner{
    width: 19em;
    height: 12em;
    overflow: auto;
}

.listrun{
  width: 15%;
}

#infos
{
  padding-left:4em;
  padding-top: 2em;
}

.list{
  height: 12.5em;
  width: 24em;
  overflow-y: auto;
}


#profilpic{
  position: absolute;
  left: -3000px;
}

#imgprofil {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

