//page profil

#picprofil {
  width: 50%;
  margin: 5em 0em 3em 3em;
}

#runner-add{
  width: 20%;
  margin: 0em 0em 0em 5em;
}

#runner{
    width: 19em;
    height: 12em;
    overflow: auto;
}

.proff{
    width: 2em;
    height: 2em;
}

.listrun{
  margin-top: 3em;
}
