// Classes spécifiques à SpeedRun

.speedrun-title{
  color: $primary-color;
}

.speedrun-primary {
  color: $primary-color;
  padding-right: 1rem;
  &:hover {
    color: $accent-color;
  }
}

// Redéfinition des classes Bootstrap

.card {
  border-radius: 0;
}

.btn {
  border-radius: 0;
  background-color: $primary-color;
  border-color: $accent-color;
  color: $white;
  &:hover {
    border-color: $primary-color;
    background-color: $accent-color;
  }
}

.nav-link {
  color: $primary-color;
  &:hover {
    color: $accent-color;
  }
}

.form-control {
  border-radius: 0;
}

<<<<<<< HEAD
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: $primary-color;
=======
.dropdown-menu {
  margin-left: -1px;
  border-radius: 0;
}

.dropdown-item {
  &:hover {
    background-color: $primary-color;
    color: $white
  }
>>>>>>> aa1aa5473fadb899275853112c8d612a1988ce18
}