// Classes spécifiques à SpeedRun
body {
  margin: 10px;
}

.speedrun-title{
  color: $primary-color;
}

.speedrun-primary {
  color: $primary-color;
  padding-right: 1rem;
  &:hover {
    color: $accent-color;
  }
}

.pagination {
  justify-content: center;
}

// Redéfinition des classes Bootstrap

.card {
  border-radius: 0;
}

.btn {
  border-radius: 0;
  background-color: $primary-color;
  border-color: $accent-color;
  color: $white;
  &:hover {
    border-color: $primary-color;
    background-color: $accent-color;
  }
}

.nav-link {
  color: $primary-color;
  &:hover {
    color: $accent-color;
  }
}

.form-control {
  border-radius: 0;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $primary-color;
}


.dropdown-menu {
  margin-left: -1px;
  border-radius: 0;
}

.dropdown-item {
  &:hover {
    background-color: $primary-color;
    color: $white
  }
}

.fixed-top {
  background-color: #fafafa ;
}


.successLocked {
  opacity: 0.3;
}

.successObtained {
  opacity: 1;
}