// Body
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$primary-color: #ff6e40;
$accent-color: #c53d13;
$faded-primary: #ff6e4090;

